:root {
  --first-color: #363b4e;
  --second-color: #4f3b78;
  --third-color: #927fbf;
  --fourth-color: #c4bbf0;
  --text-color: #f0f0f0;
  --hover-color: #c82333;
  --disabled-color: #ccc;
}

/* Logout button styling */
.logout-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--second-color); /* Apply new color */
  color: var(--text-color); /* Adjust text color */
  border: 2px solid var(--first-color); /* Add border for better definition */
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.2s;
}

.logout-button:hover {
  background-color: var(--hover-color); /* Change background on hover */
  border-color: var(--fourth-color); /* Adjust border color on hover */
}

.logout-button:active {
  transform: scale(0.95);
}

.logout-button:disabled {
  background-color: var(--disabled-color); /* Use disabled color */
  color: #666; /* Darker text for better contrast */
  border-color: var(--disabled-color); /* Match border color */
  cursor: not-allowed;
}