:root {
  --dark-line-color: #89255fda;
  --light-line-color: #c23786d3;
  --button-background-color: #0d0c15;
  --button-border-color: #751a65;
  --title-color: #579cff;
  --hover-gradient: linear-gradient(to bottom right, #2a042a, #324769);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 10px 20px;
  color: var(--title-color);
  flex-wrap: wrap;
  border-bottom: 4px solid;
  border-image: linear-gradient(
    to right,
    var(--dark-line-color),
    var(--light-line-color),
    var(--dark-line-color),
    var(--light-line-color),
    var(--dark-line-color)
  );
  border-image-slice: 1;
}

.nav-section {
  display: flex;  
  align-items: center;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-color);
  text-decoration: none;
  font-size: 16px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
  text-align: center;
}

.nav-button:hover {
  background: var(--hover-gradient);
  color: var(--title-color);
  border-color: var(--title-color);
  transform: scale(1.05);
}

.home-btn {
  margin-left: 10px;
}

.register-btn {
  margin-left: 5px;
  margin-right: 10px;
}

.logout-button {
  padding: 10px 20px;
  margin: 10px;
  color: var(--title-color);
  background-color: var(--button-background-color);
  border: 2px solid var(--button-border-color);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.logout-button:hover {
  background: var(--hover-gradient);
  border-color: var(--title-color);
}

.logout-button:active {
  transform: scale(0.95);
}

.logout-button:disabled {
  background-color: #ccc;
  color: #666;
  border-color: #ccc;
  cursor: not-allowed;
}

/* Responsive Navbar for mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .nav-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .nav-button {
    width: 90%;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
  }

  .logo {
    position: static;
    margin: 0;
  }
}